In [23]:
#libreria panda
#comentarios son con #

#imprimir libreria
import pandas as pd

In [24]:
#data frame
df = pd.read_excel("Ventas_Web.xlsx")
#mostrar los primero 5 registros
df.head()

,Orden,Fecha,Medio,Vendedor,Plataforma,Comisión,Tipo Orden,Tipo de Cliente,Sexo,Categoría,Producto,Precio
0,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Hombre,Pantalones,Pants de Entrenamiento Reactivo,144000
1,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Hombre,Sudaderas y chamarras,Sudadera sin Costuras,180000
2,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Mujeres,Leggings,Leggings Ombre,129600
3,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Mujeres,Bra deportivo,Bra Vital sin costuras,144000
4,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Hombre,Camisetas,Camiseta Heather,180000

In [25]:
#crear un data frame - para vendedores
df_vendedor = df[["Vendedor"]]
#eliminar los duplicados de la tabla
df_vendedor = df_vendedor.drop_duplicates()
#resetear indice
df_vendedor = df_vendedor.reset_index(drop=True)
#agregar el indice a un campo de la tabla
df_vendedor.reset_index(level=0, inplace=True)
df_vendedor['index']+=1
#que la columna que se llama index se llame id_vendedor
df_vendedor= df_vendedor.rename(columns={'index':'id_vendedor'})
df_vendedor

    id_vendedor            Vendedor
0             1   Directo en Tienda
1             2     Publicidad Face
2             3    Publicidad Insta
3             4  Publicidad Youtube
4             5         melissaguin
5             6    aplinewithvyycan
6             7        anamontero22
7             8         karlagvzcia
8             9            epiclava
9            10  marisaamanzanolife
10           11         andreaheraz
11           12       marugshbolena
12           13     celestezohmoran
13           14         Nataliansfa
14           15          marifer.bb
15           16     marianaguayoela
16           17             jldom89
17           18       nathaliansrro
18           19        geogluisovec
19           20          mariana.vn
20           21       lescarpinteli
21           22      aleixploreuria
22           23         luckarovtes
23           24     greciasotelovvv
24           25     reginaacosta314
25           26        auroramadrid
26           27  daniexploradorarod
27           28       abrahamojicar
28           29      anellaholldoll
29           30          anacsimdao
30           31    carleycmountains
31           32          jimellanna
32           33         moreofmarrr
33           34          rbkdccasti
34           35    roberto_herlom88
35           36         dudabrnrons
36           37         adamgoneron
37           38          SanayNutri
38           39    miriamvillalmals
39           40        ximeguajardd
40           41        netabyeserna
41           42   nicole.izuristilo
42           43          gypseajain
43           44       marianavazeta

In [26]:
#crear un data frame - para vendedores
df_producto = df[['Producto', 'Categoría']]
#eliminar los duplicados de la tabla
df_producto = df_producto.drop_duplicates()
#resetear indice
df_producto = df_producto.reset_index(drop=True)
#agregar el indice a un campo de la tabla
df_producto.reset_index(level=0, inplace=True)
df_producto['index']+=1
#que la columna que se llama index se llame id_vendedor
df_producto= df_producto.rename(columns={'index':'id_producto'})
df_producto

     id_producto                         Producto              Categoría
0              1  Pants de Entrenamiento Reactivo             Pantalones
1              2            Sudadera sin Costuras  Sudaderas y chamarras
2              3                   Leggings Ombre               Leggings
3              4           Bra Vital sin costuras          Bra deportivo
4              5                 Camiseta Heather              Camisetas
..           ...                              ...                    ...
99           100                   Sudadera Crest  Sudaderas y chamarras
100          101         Camiseta sin Mangas Onyx               Interior
101          102                 Camiseta Fitness              Camisetas
102          103              Sudadera sin mangas  Sudaderas y chamarras
103          104                 Sudadera Fitness  Sudaderas y chamarras

[104 rows x 3 columns]

In [31]:
#crear un data frame - para vendedores
df_plataforma = df[["Plataforma"]]
#eliminar los duplicados de la tabla
df_plataforma = df_plataforma.drop_duplicates()
#resetear indice
df_plataforma = df_plataforma.reset_index(drop=True)
#agregar el indice a un campo de la tabla
df_plataforma.reset_index(level=0, inplace=True)
df_plataforma['index']+=1
#que la columna que se llama index se llame id_vendedor
df_plataforma= df_plataforma.rename(columns={'index':'id_plataforma'})
df_plataforma

   id_plataforma Plataforma
0              1    Website
1              2   Facebook
2              3  Instagram
3              4    Youtube

In [28]:
df_ventas=df
df_ventas

df.head()

,Orden,Fecha,Medio,Vendedor,Plataforma,Comisión,Tipo Orden,Tipo de Cliente,Sexo,Categoría,Producto,Precio
0,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Hombre,Pantalones,Pants de Entrenamiento Reactivo,144000
1,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Hombre,Sudaderas y chamarras,Sudadera sin Costuras,180000
2,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Mujeres,Leggings,Leggings Ombre,129600
3,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Mujeres,Bra deportivo,Bra Vital sin costuras,144000
4,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Hombre,Camisetas,Camiseta Heather,180000

In [29]:
#print(dataframe)

##Este archivo esta pendiente para su arreglo, ya que todos los datos estan en archivos diferentes

## Get only 'vendedor' data and remove duplicates / Obtener vendedores y borrar d
df_ventas = pd.merge(df_ventas, df_vendedor, on='Vendedor',how='right')
df_ventas

,Orden,Fecha,Medio,Vendedor,Plataforma,Comisión,Tipo Orden,Tipo de Cliente,Sexo,Categoría,Producto,Precio,id_vendedor
0,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Hombre,Pantalones,Pants de Entrenamiento Reactivo,144000,1
1,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Hombre,Sudaderas y chamarras,Sudadera sin Costuras,180000,1
2,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Mujeres,Leggings,Leggings Ombre,129600,1
3,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Mujeres,Bra deportivo,Bra Vital sin costuras,144000,1
4,1,2019-08-06,Propio,Directo en Tienda,Website,0.0,Compra,Repetido,Hombre,Camisetas,Camiseta Heather,180000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63216,7463,2019-02-19,Influencer,marianavazeta,Instagram,0.1,Compra,Repetido,Mujeres,Pantalones,Solace Bottoms,165600,44
63217,7463,2019-02-19,Influencer,marianavazeta,Instagram,0.1,Compra,Repetido,Mujeres,Leggings,Leggings Dreamy,180000,44
63218,7463,2019-02-19,Influencer,marianavazeta,Instagram,0.1,Compra,Repetido,Hombre,Interior,Camiseta Onyx Imperial,180000,44
63219,7463,2019-02-19,Influencer,marianavazeta,Instagram,0.1,Compra,Repetido,Mujeres,Leggings,Leggings Ark,180000,44
63220,7463,2019-02-19,Influencer,marianavazeta,Instagram,0.1,Compra,Repetido,Hombre,Camisetas,Camiseta Fitness,180000,44

In [30]:
df_ventas = df_ventas[['Orden','Fecha','Medio','id_vendedor','Plataforma','Comisión','Tipo Orden','Tipo de Cliente','Sexo','Categoría','Producto','Precio']]
df_ventas

,Orden,Fecha,Medio,id_vendedor,Plataforma,Comisión,Tipo Orden,Tipo de Cliente,Sexo,Categoría,Producto,Precio
0,1,2019-08-06,Propio,1,Website,0.0,Compra,Repetido,Hombre,Pantalones,Pants de Entrenamiento Reactivo,144000
1,1,2019-08-06,Propio,1,Website,0.0,Compra,Repetido,Hombre,Sudaderas y chamarras,Sudadera sin Costuras,180000
2,1,2019-08-06,Propio,1,Website,0.0,Compra,Repetido,Mujeres,Leggings,Leggings Ombre,129600
3,1,2019-08-06,Propio,1,Website,0.0,Compra,Repetido,Mujeres,Bra deportivo,Bra Vital sin costuras,144000
4,1,2019-08-06,Propio,1,Website,0.0,Compra,Repetido,Hombre,Camisetas,Camiseta Heather,180000
...,...,...,...,...,...,...,...,...,...,...,...,...
63216,7463,2019-02-19,Influencer,44,Instagram,0.1,Compra,Repetido,Mujeres,Pantalones,Solace Bottoms,165600
63217,7463,2019-02-19,Influencer,44,Instagram,0.1,Compra,Repetido,Mujeres,Leggings,Leggings Dreamy,180000
63218,7463,2019-02-19,Influencer,44,Instagram,0.1,Compra,Repetido,Hombre,Interior,Camiseta Onyx Imperial,180000
63219,7463,2019-02-19,Influencer,44,Instagram,0.1,Compra,Repetido,Mujeres,Leggings,Leggings Ark,180000
63220,7463,2019-02-19,Influencer,44,Instagram,0.1,Compra,Repetido,Hombre,Camisetas,Camiseta Fitness,180000

In [39]:
df_ventas = pd.merge(df_ventas, df_producto, on='Producto',how='right')
df_ventas = df_ventas[['Orden','Fecha','Medio','id_vendedor','id_producto','Comisión','Tipo Orden','Tipo de Cliente','Sexo','id_producto','Precio']]
df_ventas

<ipython-input-39-981d9689aeb3>:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Categoría_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_ventas = pd.merge(df_ventas, df_producto, on='Producto',how='right')

,Orden,Fecha,Medio,id_vendedor,id_producto,Comisión,Tipo Orden,Tipo de Cliente,Sexo,id_producto,Precio
0,1,2019-08-06,Propio,1,1,0.0,Compra,Repetido,Hombre,1,144000
1,12,2019-02-27,Propio,1,1,0.0,Compra,Repetido,Hombre,1,144000
2,86,2019-11-10,Propio,1,1,0.0,Compra,Repetido,Hombre,1,144000
3,88,2019-06-28,Propio,1,1,0.0,Compra,Repetido,Hombre,1,144000
4,216,2019-11-18,Propio,1,1,0.0,Compra,Repetido,Hombre,1,144000
...,...,...,...,...,...,...,...,...,...,...,...
88374,3258,2019-12-13,Influencer,41,104,0.3,Compra,Repetido,Hombre,104,198000
88375,3410,2019-05-13,Influencer,41,104,0.3,Compra,Repetido,Hombre,104,198000
88376,842,2019-11-23,Influencer,42,104,0.3,Compra,Repetido,Hombre,104,198000
88377,2931,2019-09-12,Influencer,43,104,0.3,Compra,Repetido,Hombre,104,198000
88378,1053,2019-09-24,Influencer,44,104,0.1,Compra,Nuevo,Hombre,104,198000

In [36]:

dt_calendario = pd.date_range(start='2019-03-16', end='2019-08-06', freq='D')
dt_calendario = dt_calendario.isocalendar()
dt_calendario.reset_index(level=0, inplace=True)
dt_calendario= dt_calendario.rename(columns={'index':'fecha'})
dt_calendario

         fecha  year  week  day
0   2019-03-16  2019    11    6
1   2019-03-17  2019    11    7
2   2019-03-18  2019    12    1
3   2019-03-19  2019    12    2
4   2019-03-20  2019    12    3
..         ...   ...   ...  ...
139 2019-08-02  2019    31    5
140 2019-08-03  2019    31    6
141 2019-08-04  2019    31    7
142 2019-08-05  2019    32    1
143 2019-08-06  2019    32    2

[144 rows x 4 columns]

In [41]:
df_vendedor.to_csv('vendedor.csv', index = False)
df_plataforma.to_csv('plataforma.csv', index = False)
df_producto.to_csv('producto.csv', index = False)
df_ventas.to_csv('ventas.csv', index = False)
dt_calendario.to_csv('calendario.csv', index = False)